# Wiki Repo Docs
/docs

node_modules
debug
target
/build
/package
/.vscode
/.svelte-kit

**/mutants.out*/
**/*.rs.bk
*.pdb

.DS_Store

.env
.env.*
!.env.example

vite.config.js.timestamp-*
vite.config.ts.timestamp-*
