@import "tailwindcss";

@theme {
  --color-main: var(--bg-main);
  --color-sidebar: var(--bg-sidebar);
  --color-accent: var(--accent);
}

@layer base {
  :root {
    --bg-main: #ffffff;
    --bg-sidebar: #f8f8f9;
    --text-main: #09090b;
    --accent: #2563eb;
  }

  :root.dark {
    --bg-main: #09090b;
    --bg-sidebar: #121214;
    --text-main: #f4f4f5;
    --accent: #3b82f6;
  }

  body {
    @apply bg-main text-(--text-main) transition-colors duration-300;
    background-color: var(--bg-main);
    color: var(--text-main);
  }
}